<div class="banner">
  <%= image_tag "comingsoon.png", style: "width: 100vmin" %>
  <div>
    <h3>2018.11.13 OPEN！</h3>
    <h3>Tel: 044-400-1273</h3>
    <h3>Contact: yuuponkitchen@gmail.com</h3>
  </div>
</div>
